<mat-card class="mat-elevation-z8">
	<mat-card-title>Apagar Produto</mat-card-title>
	<form>
		<mat-form-field>
			<mat-label>Nome</mat-label>
			<input
				class="name-input"
				matInput
				Red
				placeholder="Nome"
				[value]="product.name"
				name="nome"
				disabled
			/>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Preço (R$)</mat-label>
			<input
				matInput
				Red
				placeholder="Preço (R$)"
				[value]="product.price"
				type="number"
				name="price"
				disabled
			/>
		</mat-form-field>
	</form>
	<div class="actions">
		<button
			mat-raised-button
			(click)="deleteProduct()"
			color="warn"
		>
			Excluir
		</button>
		<button
			mat-raised-button
			(click)="cancel()"
		>
			Cancelar
		</button>
	</div>
</mat-card>
