/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.v-middle {
    vertical-align: middle;
}

.success {
    --mdc-snackbar-container-color: #28a745;
    -webkit-text-fill-color: white;
}

.error {
    --mdc-snackbar-container-color: #e35e6b;
    -webkit-text-fill-color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
